.cerrar-edicion {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(255, 0, 0, .4);
    padding: .5rem 1.5rem;
    border-radius: 5px;
    color: #f00;
    background-color: transparent;
}

.cerrar-edicion:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, .1);
    border-color: rgba(255, 0, 0, 1);
    transition: background-color, border-color .5s;
}